.container{
    text-align: center;
    display: inline-block;
    border: 1px solid;
    border-radius: 20px;
    padding: 30px;
    background-color: black;
    box-shadow: 1px 1px 100px rgb(255, 0, 0);
}
button{
    height: 80px;
    width: 80px;
    border: none;
    border-radius: 50%;
    margin: 5px;
    background-color: rgb(48, 48, 48);
    color: wheat;
    font-size: larger;
    transition: 0.3s;
}
input{
    background-color: black;
    border: none;
    text-align: end;
    color: white;
    height: 60px;
    /* width: 100px; */
    font-size: x-large;
}
.boc{
    display: flex;
    justify-content: center;
    margin-top: 100px ;
}

button:hover{
    background-color: rgb(100, 100, 100) ;
    box-shadow: 1px 1px 30px rgb(243, 0, 0) ;
    transform: scale(1.2 ,1.2);
}
body{
    background-color: black;
}